*{
    margin: 0px;
    padding: 0px;
}
html{
    background-image: url("backgroung.png");
    background-repeat: no-repeat;
    background-size: 1440px§;
    font-family: poppins;
    height: 1024px;
    width: 1428px;
}

button {
    padding: 0;
    position: absolute;
    display: inline-block;
    color: #001958;
    background-color:#FFFFFF ;
    border: solid 1px transparent;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    width: 286px;
    height: 57px;
    cursor: pointer;
    z-index: 100;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

}
.button1 {
    margin: 38px 52px 929px 1102px;
}
.button1:hover{
    background-color: #dbdbdb;
}
.button1:active{
    background-color: #001958 ;
    color: #FFFFFF;
}
.button2 {
    margin-top:  534px;
    margin-left: 241px;
}
.button2:hover{
    background-color: #dbdbdb;
}
.button2:active {
    background-color: #001958;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width=80;
    height=120;
    margin: 216px 1238px 436px 122px;
}
.figma-africa{

    margin-left: 241px;
    margin-top: 205px;
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.inter{
    margin: 249px 928px 463px 241px;
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.conf{
    margin: 296px 959px 416px 241px;
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.december {
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 383px;
    margin-left: 241px;
}
.kigal{
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 424px;
    margin-left: 241px;
}
.limited{
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: 603px;
    margin-left: 241px;
}
.our-conf{
    position: absolute;
    color: #001958;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-top: 801px;
    margin-left: 400px;

}
.our-conf2{
    display: none;
}
.countries{
    position: absolute;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 891px;
    margin-left: 240px;
}
.cities{
    position: absolute;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 891px;
    margin-left: 535px;
}
.speakers{
    position: absolute;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 891px;
    margin-left: 788px;
}
.attendees{
    position: absolute;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 891px;
    margin-left: 1085px;
}
.c12{
    position: absolute;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    margin-top: 918px;
    margin-left: 265px;
}
.c30{
    position: absolute;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    margin-top:  918px;
    margin-left:  532px;
}
.c120{
    position: absolute;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    margin-top: 918px;
    margin-left: 795px;
}
.c750{
    position: absolute;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    margin-top: 918px;
    margin-left: 1075px;
}
@media screen and (max-width: 360px){
    html{
        height: 1024px;
        width: 360px;
        background-image: url("bgmobile.png");
    }
    .logo{
        width: 48px;
        height: 72px;
        margin-left: 20px;
        margin-top:  60px;
    }
    .figma-africa{
        margin-left: 20px;
        margin-top: 150px;
    }
    .inter{
        margin-left: 20px;
        margin-top: 193px;
    }
    .conf{
        margin-left: 20px;
        margin-top: 237px;
    }
    .december{
        margin-left: 20px;
        margin-top: 328px;
    }
    .kigal{
        margin-left: 20px;
        margin-top: 369px;
    }
    .button1{
        display: none;
    }
    .button2{
        margin-left:20px;
        margin-top: 479px;
    }
    .limited{
        margin-left: 20px;
        margin-top: 548px;
    }
    .our-conf{
        display: none;
    }
    .our-conf2{
        display: inline-block;
        margin-left: 15px;
        margin-top: 664px;
        position: absolute;
        color: #001958;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
    }
    .countries{
        margin-top: 770px;
        margin-left: 38px;
    }
    .cities{
        margin-top: 770px;
        margin-left: 238px;
    }
    .speakers{
        margin-top: 900px;
        margin-left: 40px;
    }
    .attendees{
        margin-top: 900px;
        margin-left: 214px;
    }
    .c12{
        margin-top: 797px;
        margin-left: 63px;
    }
    .c30{
        margin-top: 797px;
        margin-left: 235px;
    }
    .c120{
        margin-top: 927px;
        margin-left: 47px;
    }
    .c750{
        margin-top: 927px;
        margin-left: 204px;
    }

}
@media screen and (max-width:768px) and (min-width: 361px) {
    html{
        background-image: url("bgtablet.png");
        height: 1024px;
        width: 768px;
    }
    .logo{
        width: 84px;
        height: 126px;
        margin-left: 129px;
        margin-top:  166px;
    }
    .figma-africa{
        margin-left:  241px;
        margin-top: 156px;
    }
    .inter{
        margin-left: 241px;
        margin-top: 200px;
    }
    .conf{
        margin-left: 241px;
        margin-top: 244px;
    }
    .december{
        margin-left: 257px;
        margin-top: 455px;
        font-size: 24px;
    }
    .kigal{
        margin-left: 257px;
        margin-top: 512px;
    }
    .button1{
        display: none;
    }
    .button2{
        margin-left:241px;
        margin-top: 343px;
    }
    .limited{
        margin-left: 262px;
        margin-top: 400px;
    }
    .our-conf{
        display: inline-block;
        margin-left: 105px;
        margin-top: 707px;
        position: absolute;
        color: #001958;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 60px;
    }
    .our-conf2{
        display: none;

    }
    .countries{
        margin-top: 785px;
        margin-left: 164px;
    }
    .cities{
        margin-top: 785px;
        margin-left: 521px;
    }
    .speakers{
        margin-top: 904px;
        margin-left: 169px;
    }
    .attendees{
        margin-top: 904px;
        margin-left: 495px;
    }
    .c12{
        margin-top: 815px;
        margin-left: 192px;
    }
    .c30{
        margin-top: 815px;
        margin-left: 515px;
    }
    .c120{
        margin-top: 928px;
        margin-left: 176px;
    }
    .c750{
        margin-top: 928px;
        margin-left: 488px;
    }





}
@media screen and (min-width: 769px) and (max-width: 1024px){
    html{
        background-image: url("bgTableLanscape.png");
        width: 1024px;
        height: 911px;
    }
    .button2{
        margin-left: 223px;
        margin-top: 427px;
    }
    .button1{
        display: none;

    }
    .logo{
        position: absolute;
        width:80px;
        height:120px;
        margin-top:  128px;
        margin-left: 113px;
    }
    .figma-africa{

        margin-left: 223px;
        margin-top: 118px;
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
    }
    .inter{
        margin-top: 160px;
        margin-left: 223px;
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
    }
    .conf{
        margin-left: 223px;
        margin-top: 202px;
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
    }
    .december {
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 302px;
        margin-left: 226px;
    }
    .kigal{
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 334px;
        margin-left: 226px;
    }
    .limited{
        position: absolute;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        margin-top: 484px;
        margin-left: 238px;
    }
    .our-conf{
        position: absolute;
        color: #001958;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        margin-top: 604px;
        margin-left: 193px;
        margin-bottom: 254;


    }
    .our-conf2{
        display: none;
    }
    .countries{
        position: absolute;
        color: #4F4F4F;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 760px;
        margin-left: 175.8px;
    }
    .cities{
        position: absolute;
        color: #4F4F4F;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 760px;
        margin-left: 410px;
    }
    .speakers{
        position: absolute;
        color: #4F4F4F;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 760px;
        margin-left: 600px;
    }
    .attendees{
        position: absolute;
        color: #4F4F4F;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 760px;
        margin-left: 820px;
    }
    .c12{
        position: absolute;
        color: #828282;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        margin-top: 787px;
        margin-left: 204.8px;
    }
    .c30{
        position: absolute;
        color: #828282;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        margin-top:  787px;
        margin-left:  409.6px;
    }
    .c120{
        position: absolute;
        color: #828282;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        margin-top: 787px;
        margin-left: 614.4px;
    }
    .c750{
        position: absolute;
        color: #828282;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;

        margin-top: 787px;
        margin-left: 819.2px;
    }

}
